XML_project/src/movies.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT movies (movie+)>
<!ELEMENT movie (code,title,release-date,theater-name+)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT release-data (day,month,year)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT month (#PCDATA)>
!ELEMENT year (#PCDATA)>
<!ELEMENT theater-name (#PCDATA)>